{% extends "base.html" %}
{% block content %}
    <h1>Hello to our webpage about us: The famous Dätschchöpfs!</h1>

    <h2>We are Cedric, Raphael and Joschua.</h2> 
     <p>We are all sixteen years old and come from Switzerland.<br> 
        We visit the Gymnasium Muttenz and play all our own sport. <br>
        You can read more about us in the biographies below!

        

       
     </p>

        

    <t1>Later you can try our quiz. Have fun!</t1>
   
    <p>Click <a href="/question">here</a> to start the quiz.
       
{% endblock %}