{% extends "base.html" %}
{% block content %}

<h2>Documentation</h2>
<p>Why did we choose this game? 

    We all know famous jump and run games like subwaysurfers and temple run. we played them and wanted to make one of our own. 
    
    At first, we agreed on a game. We decided that we want to program a jump and run game.<br>
     So Cedric started to program the jump and run. In the beginning he had some problems but with a little help he could solve all of them. <br>
     Cedric created a basic jump and run. It didn’t have many obstacles and it didn’t look very nice. <br>
     We all didn’t like the background and the player, so we decided to make a Deadpool themed game. <br>
     While Cedric changed the background to a city, Joschua and I started to create a new player for the game. <br> 
     Of course, Deadpool. We drew the figure on a website. But that the character looks in the right direction we drew the figure from both sides. <br>
     So, we drew a figure mirrored it and drew it again. While we were drawing the character Cedric had a lot of fun playing the game and added new obstacles. <br>
     After we finished the characters, we tried to transfer it to our game but unfortunately, we could only see the head of the character. <br>
     And because we didn’t know how to be able to see the whole character, we didn’t change it. We have also changed the gravity so that you can jump further.  
</p>
       
{% endblock %}